.login{
    &-sizes-w{
        width: 390px;
    }
    &-sizes-h{
        height: 315px;
    }
    &-hover:hover{
        background-color: wheat;
    }
    @include media-breakpoint-down(sm) {
        &-sizes-w{
            width: 375px;
        }
        &-sizes-h{
            height: 400px;
        }
    }
}
.community{
    &{
        width: 330px;
        height: 56px;
    }
    &-size{
        width: 390px;
        height: 350px;
    }
    @include media-breakpoint-down(sm) {
        &{
            width: 105px;
        }
        &-size{
            width: 375px;
        }
    }
}