.banner{
  &-noreason{
    background-image: url(https://raw.githubusercontent.com/Wcc723/F2E-PK/master/source/images/social.png);
  }
}
/* 分頁 */
.pagination-hover:hover {
  color: #fff;
  background-color: #3f5d45;
}
// 對齊
.align {
  display: inline-block;
  font-size: inherit;
  line-height: inherit;
  vertical-align: middle;
  transform: translateY(-.1em);
}