.banner-success{
    width: inherit;
    height: 460px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1505935428862-770b6f24f629?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2c5a2cf31c693f5c15fb08135bf1adf2&auto=format&fit=crop&w=800&q=60);
}
.success-section {
    width: 300px;
}
.success-section::before {
	content:'';
	position:absolute;
	left: 0;    
	right: 0;
	height: 1px; 
	background-color: #3F5D45;
}
.success-body{
    width: 300px;
}